<main role="main" class="mt-3">
    <section>
        <div class="container p-lg-0 p-md-0">
            <div class="row">
                <nav aria-label="breadcrumb" class="w-100">
                    <ol class="breadcrumb bg-white">
                        <li class="breadcrumb-item"><a href="http://aviopro.ideabox.online/">Home</a></li>
                        <li class="breadcrumb-item active">LPS</li>
                    </ol>
                </nav>
            </div>
            <div class="col-12 p-0">
                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-md-12 col-lg-12 p-lg-3 p-md-3 bg-light-gray mb-5">
                            <p class="font-14 mb-0">PRODUCTS BY </p>
                            <img src="~/images/4325-lps-logo.png" alt="4325-lps-logo.png" width="150px">
                        </div>

                        <div class="col col-12 col-lg-12 col-md-12">
                            <div class="row">
                                <div class="col-12 col-md-6 mb-lg-5 mb-3">
                                    <h5 class="Poppins-SemiBold m-0">Lubricants/Penetrants</h5>
                                    <hr>

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <p class="font-14 mb-0">
                                                <a href="@Url.Action("Index", "Product",new { Param="LPSChainMate"})">ChainMate Chain &amp; Wire Rope Lubricant</a>
                                            </p>

                                            <p class="font-12">
                                                11 OZ,  20 OZ,  1USG,   5 USG,
                                            </p>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <p class="font-14 mb-0">
                                                <a href="@Url.Action("Index", "Product",new { Param="LPSPTFE"})">Dry Film PTFE Lubricant</a>
                                            </p>

                                            <p class="font-12">
                                                12 OZ,  20 OZ,  1USG,   5 USG,
                                            </p>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <p class="font-14 mb-0">
                                                <a href="@Url.Action("Index", "Product",new { Param="LPSGreaseLess"})">LPS 1 Greaseless Lubricant</a>
                                            </p>

                                            <p class="font-12">
                                                13 OZ,  20 OZ,  1USG,   5 USG,
                                            </p>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <p class="font-14 mb-0">
                                                <a href="@Url.Action("Index", "Product",new { Param="LPSHeavyDuty"})">LPS 2 Heavy-Duty Lubricant</a>
                                            </p>

                                            <p class="font-12">
                                                14 OZ,  20 OZ,  1USG,   5 USG,
                                            </p>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <p class="font-14 mb-0">
                                                <a href="@Url.Action("Index", "Product",new { Param="LPSPenetrant"})">LST Penetrant</a>
                                            </p>

                                            <p class="font-12">
                                                15 OZ,  20 OZ,  1USG,   5 USG,
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mb-lg-5 mb-3">
                                    <h5 class="Poppins-SemiBold m-0">Corrosion Inhibitors</h5>
                                    <hr>

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <p class="font-14 mb-0">
                                                <a href="@Url.Action("Index", "Product",new { Param="Corrosion"})">LPS 3 Premier Rust Inhibitor</a>
                                            </p>

                                            <p class="font-12">
                                                15 OZ,  20 OZ,  1USG,   5 USG,
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mb-lg-5 mb-3">
                                    <h5 class="Poppins-SemiBold m-0">Electronic Cleaners</h5>
                                    <hr>

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <p class="font-14 mb-0">
                                                <a href="@Url.Action("Index", "Product",new { Param="LPSCFCCleaners"})">CFC Free Electro Contact Cleaner</a>
                                            </p>

                                            <p class="font-12">
                                                15 OZ,  20 OZ,  1USG,   5 USG,
                                            </p>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <p class="font-14 mb-0">
                                                <a href="@Url.Action("Index", "Product",new { Param="LPS140Cleaners"})">Electro 140° Contact Cleaner</a>
                                            </p>

                                            <p class="font-12">
                                                16 OZ,  20 OZ,  1USG,   5 USG,
                                            </p>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <p class="font-14 mb-0">
                                                <a href="@Url.Action("Index", "Product",new { Param="LPSElectroCleaners"})">Electro Contact Cleaner</a>
                                            </p>

                                            <p class="font-12">
                                                17 OZ,  20 OZ,  1USG,   5 USG,
                                            </p>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <p class="font-14 mb-0">
                                                <a href="@Url.Action("Index", "Product",new { Param="LPSNoFlashCleaners"})">NoFlash Electro Contact Cleaner</a>
                                            </p>

                                            <p class="font-12">
                                                18 OZ,  20 OZ,  1USG,   5 USG,
                                            </p>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <p class="font-14 mb-0">
                                                <a href="@Url.Action("Index", "Product",new { Param="LPS2NoFlashCleaners"})">NoFlash 2.0 Electro Contact Cleaner</a>
                                            </p>

                                            <p class="font-12">
                                                19 OZ,  20 OZ,  1USG,   5 USG,
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
