@{
    ViewBag.Title = "Home Page";
}

<main role="main">
    <link rel="stylesheet" href="~/Content/default.css">

    <section>


        <div class="container">
            <div class="row">
                <div class="owl-carousel home-slider owl-loaded owl-drag">

                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1150px;">
                            <div class="owl-item active" style="width: 1140px; margin-right: 10px;">
                                <div class="item">
                                    <img src="~/images/slide1.jpg" alt="Avio Pro">
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"><button role="button" class="owl-dot active"><span></span></button></div>
                </div>
            </div>
        </div>


        <div class="container bg-orange">

            <div class="row row-flex p-3 align-items-center">
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="card-block text-uppercase goth-bold text-white  text-lg-left text-md-left text-center mb-3 mb-lg-0 mb-md-0 mb-sm-0">
                        FEATURED BRANDS
                    </div>
                </div>
                <div class="col-md-9 col-lg-9 col-sm-6 col-xs-12">
                    <div class="owl-carousel brands-slider owl-loaded owl-drag">





                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(-1297px, 0px, 0px); transition: all 0.25s ease 0s; width: 2433px;">
                                <div class="owl-item cloned" style="width: 152.2px; margin-right: 10px;">
                                    <div class="item text-center align-self-center">
                                        <a href="@Url.Action("Index","Brand",new {Params="NITTOTAPES"})">
                                            <img src="~/images/7118-nitto-logo.png" alt="Nitto Tapes" title="Nitto Tapes" class="d-inline-block w-auto img-fluid">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 152.2px; margin-right: 10px;">
                                    <div class="item text-center align-self-center">
                                        <a href="@Url.Action("Index","Brand",new {Params="AIRCRAFTTYRES"})">
                                            <img src="~/images/2453-aircreaft-logo.png" alt="aircraft tyres" title="aircraft tyres" class="d-inline-block w-auto img-fluid">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 152.2px; margin-right: 10px;">
                                    <div class="item text-center align-self-center">
                                        <a href="@Url.Action("Index","Brand",new {Params="ThreeM"})">
                                            <img src="~/images/5846-3M-logo (2).png" alt="3M" title="3M" class="d-inline-block w-auto img-fluid">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 152.2px; margin-right: 10px;">
                                    <div class="item text-center align-self-center">
                                        <a href="@Url.Action("Index","Brand",new {Params="LPS"})">
                                            <img src="~/images/4325-lps-logo.png" alt="LPS" title="LPS" class="d-inline-block w-auto img-fluid">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 152.2px; margin-right: 10px;">
                                    <div class="item text-center align-self-center">
                                        <a href="@Url.Action("Index","Brand",new {Params="AEROSHELL"})">
                                            <img src="~/images/3854-aeroshell-logo.png" alt="Aeroshell" title="Aeroshell" class="d-inline-block w-auto img-fluid">
                                        </a>
                                    </div>
                                </div><div class="owl-item" style="width: 152.2px; margin-right: 10px;">
                                    <div class="item text-center align-self-center">
                                        <a href="@Url.Action("Index","Brand",new {Params="NITTOTAPES"})">
                                            <img src="~/images/7118-nitto-logo.png" alt="Nitto Tapes" title="Nitto Tapes" class="d-inline-block w-auto img-fluid">
                                        </a>
                                    </div>
                                </div><div class="owl-item" style="width: 152.2px; margin-right: 10px;">
                                    <div class="item text-center align-self-center">
                                        <a href="@Url.Action("Index","Brand",new {Params="AIRCRAFTTYRES"})">
                                            <img src="~/images/2453-aircreaft-logo.png" alt="aircraft tyres" title="aircraft tyres" class="d-inline-block w-auto img-fluid">
                                        </a>
                                    </div>
                                </div><div class="owl-item" style="width: 152.2px; margin-right: 10px;">
                                    <div class="item text-center align-self-center">
                                        <a href="@Url.Action("Index","Brand",new {Params="ThreeM"})">
                                            <img src="~/images/5846-3M-logo (2).png" alt="3M" title="3M" class="d-inline-block w-auto img-fluid">
                                        </a>
                                    </div>
                                </div><div class="owl-item active" style="width: 152.2px; margin-right: 10px;">
                                    <div class="item text-center align-self-center">
                                        <a href="@Url.Action("Index","Brand",new {Params="LPS"})">
                                            <img src="~/images/4325-lps-logo.png" alt="LPS" title="LPS" class="d-inline-block w-auto img-fluid">
                                        </a>
                                    </div>
                                </div><div class="owl-item active" style="width: 152.2px; margin-right: 10px;">
                                    <div class="item text-center align-self-center">
                                        <a href="@Url.Action("Index","Brand",new {Params="AEROSHELL"})">
                                            <img src="~/images/3854-aeroshell-logo.png" alt="Aeroshell" title="Aeroshell" class="d-inline-block w-auto img-fluid">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned active" style="width: 152.2px; margin-right: 10px;">
                                    <div class="item text-center align-self-center">
                                        <a href="@Url.Action("Index","Brand",new {Params="NITTOTAPES"})">
                                            <img src="~/images/7118-nitto-logo.png" alt="Nitto Tapes" title="Nitto Tapes" class="d-inline-block w-auto img-fluid">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned active" style="width: 152.2px; margin-right: 10px;">
                                    <div class="item text-center align-self-center">
                                        <a href="@Url.Action("Index","Brand",new {Params="AIRCRAFTTYRES"})">
                                            <img src="~/images/2453-aircreaft-logo.png" alt="aircraft tyres" title="aircraft tyres" class="d-inline-block w-auto img-fluid">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned active" style="width: 152.2px; margin-right: 10px;">
                                    <div class="item text-center align-self-center">
                                        <a href="@Url.Action("Index","Brand",new {Params="ThreeM"})">
                                            <img src="~/images/5846-3M-logo (2).png" alt="3M" title="3M" class="d-inline-block w-auto img-fluid">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 152.2px; margin-right: 10px;">
                                    <div class="item text-center align-self-center">
                                        <a href="@Url.Action("Index","Brand",new {Params="LPS"})">
                                            <img src="~/images/4325-lps-logo.png" alt="LPS" title="LPS" class="d-inline-block w-auto img-fluid">
                                        </a>
                                    </div>
                                </div><div class="owl-item cloned" style="width: 152.2px; margin-right: 10px;">
                                    <div class="item text-center align-self-center">
                                        <a href="@Url.Action("Index","Brand",new {Params="AEROSHELL"})">
                                            <img src="~/images/3854-aeroshell-logo.png" alt="Aeroshell" title="Aeroshell" class="d-inline-block w-auto img-fluid">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>
