<main role="main" class="mt-3">
    <section>
        <div class="container p-lg-0 p-md-0">
            <div class="row">
                <nav aria-label="breadcrumb" class="w-100">
                    <ol class="breadcrumb bg-white">
                        <li class="breadcrumb-item"><a href="http://aviopro.ideabox.online/">Home</a></li>
                        <li class="breadcrumb-item active">AEROSHELL FLUIDS AN SPECIALITIES</li>
                    </ol>
                </nav>
            </div>
            <div class="col-12 p-0">
                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-md-12 col-lg-12 p-lg-3 p-md-3 bg-light-gray mb-5">
                            <p class="font-14 mb-0">PRODUCTS BY </p>
                            <img src="./AEROSHELL FLUIDS AN SPECIALITIES_files/3854-aeroshell-logo.png" alt="Aeroshell" width="150px">
                        </div>


                        <div class="col col-12 col-lg-12 col-md-12">
                            <div class="row">
                                <div class="col-12 p-0">
                                    <h5 class="Poppins-SemiBold m-0">AEROSHELL FLUIDS AN SPECIALITIES</h5>
                                    <hr>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-fluid-5ma">AERO SHELL FLUID 5MA</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroShellFluid5MA"})">AERO SHELL FLUID 5MA</a>
                                            </p>

                                            <p class="font-12">
                                                Pack Size - 1x5USG,  JSD  - OEP-70,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-compound-07">AERO SHELL COMPOUND 07</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroShellCompound7"})">AERO SHELL COMPOUND 07</a>
                                            </p>

                                            <p class="font-12">
                                                Pack Size - 1x5USG,  JSD  - AL-5,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-fluid-2xn">AERO SHELL FLUID 2XN</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroShellFluid2XN"})">>AERO SHELL FLUID 2XN</a>
                                            </p>

                                            <p class="font-12">
                                                Pack Size - 1x5USG,  JSD  - ZX-21 (obsolete),
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-fluid-3">AERO SHELL FLUID 3</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroShellFluid3"})">AERO SHELL FLUID 3</a>
                                            </p>

                                            <p class="font-12">
                                                Pack Size - 6X1USG,  JSD  - OM-12,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-calibrated-fluid-2-us">AERO SHELL CALIBRATED FLUID 2 (US)</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroShellFluid2"})">AERO SHELL CALIBRATED FLUID 2 (US)
</p>

                                            <p class="font-12">
                                                Pack Size - 1x202L,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-fluid--12">AERO SHELL FLUID  12</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroShellFluid12"})">AERO SHELL FLUID  12</a>
                                            </p>

                                            <p class="font-12">
                                                Pack Size - 6X1USG,  JSD - OX-14,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-fluid-31">AERO SHELL FLUID 31</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroShellFluid31"})">AERO SHELL FLUID 31</a>
                                            </p>

                                            <p class="font-12">
                                                Pack Size - 6X1USG,  JSD  - OX-19,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-fluid-41eu">AERO SHELL FLUID 41(EU)</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroShellFluid41"})">AERO SHELL FLUID 41(EU)</a>
                                            </p>

                                            <p class="font-12">
                                                Pack Size - 1x203L,  Pack Size - 1x5USG,  Pack Size - 24x1USQ,  Pack Size - 4x5L,  JSD  - OM-15,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-fluid-61na">AERO SHELL FLUID 61(NA)</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroShellFluid61"})">AERO SHELL FLUID 61(NA)</a>
                                            </p>

                                            <p class="font-12">
                                                Pack Size - 1x55USG,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-fluid-602">AERO SHELL FLUID 602</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroShellFluid602"})">AERO SHELL FLUID 602</a>
                                            </p>

                                            <p class="font-12">
                                                Pack Size - 1x5USG,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-fluid-s8350">AERO SHELL FLUID S.8350</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroShellFluid8350"})">AERO SHELL FLUID S.8350</a>
                                            </p>

                                            <p class="font-12">
                                                JSD  - OEP-215,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell-landing-gear-fluid">AERO SHELL LANDING GEAR FLUID</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroShellGearFluid"})">AERO SHELL LANDING GEAR FLUID
</p>

                                            <p class="font-12">
                                                Pack Size - 1x5USG,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities/product/aero-shell--smoke-oil">AERO SHELL  Smoke Oil</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroShelSmokeOil"})">AERO SHELL  Smoke Oil</a>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
