<main role="main" class="mt-3">
    <link rel="stylesheet" href="~/Content/default.css">
    <section>
        <div class="container p-lg-0 p-md-0">
            <div class="row">
                <nav aria-label="breadcrumb" class="w-100">
                    <ol class="breadcrumb bg-white">
                        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="breadcrumb-item active">COATINGS</li>
                    </ol>
                </nav>
            </div>
            <div class="col-12 p-0">
                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-md-12 col-lg-12 p-lg-3 p-md-3 bg-light-gray mb-5">
                            <p class="font-14 mb-0">PRODUCTS BY </p>
                            <img src="~/images/5846-3M-logo (2).png" alt="3M" width="150px">
                        </div>


                        <div class="col col-12 col-lg-12 col-md-12">
                            <div class="row">
                                <div class="col-12 p-0">
                                    <h5 class="Poppins-SemiBold m-0">COATINGS</h5>
                                    <hr>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="@Url.Action("Index", "Product",new { Param="3MScotch1252"})">3M™ Scotch-Weld™ Tamper Proof Sealant EC-1252 </a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="3MScotch1252"})">3M™ Scotch-Weld™ Tamper Proof Sealant EC-1252 </a>
                                            </p>

                                            <p class="font-12">
                                                1 PINT (473 ML),
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="@Url.Action("Index", "Product",new { Param="3MScotch1137"})">3M™ Scotch-Weld™ Hi-Temp Sealer EC-1137 </a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="3MScotch1137"})">3M™ Scotch-Weld™ Hi-Temp Sealer EC-1137 </a>
                                            </p>

                                            <p class="font-12">
                                                473 ML,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="@Url.Action("Index", "Product",new { Param="3MScotch776"})">3M™ Scotch-Weld™ Fuel Resistant Coating EC-776</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="3MScotch776"})">3M™ Scotch-Weld™ Fuel Resistant Coating EC-776</a>
                                            </p>

                                            <p class="font-12">
                                                5 GALLON,  946 ML,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="@Url.Action("Index", "Product",new { Param="3MScotch776SR"})">3M™ Scotch-Weld™ Fuel Resistant Coating EC-776SR</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="3MScotch776SR"})">3M™ Scotch-Weld™ Fuel Resistant Coating EC-776SR</a>
                                            </p>

                                            <p class="font-12">
                                                1 USQ,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="@Url.Action("Index", "Product",new { Param="3MScotch5816"})">3M™ Scotch-Weld™ Elastomeric Coating EC-5816</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="3MScotch5816"})">3M™ Scotch-Weld™ Elastomeric Coating EC-5816</a>
                                            </p>

                                            <p class="font-12">
                                                5 GALLON,  946 ML,
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
