<main role="main" class="mt-3">
    <section>
        <div class="container p-lg-0 p-md-0">
            <div class="row">
                <nav aria-label="breadcrumb" class="w-100">
                    <ol class="breadcrumb bg-white">
                        <li class="breadcrumb-item"><a href="http://aviopro.ideabox.online/">Home</a></li>
                        <li class="breadcrumb-item active">Electronic Cleaners</li>
                    </ol>
                </nav>
            </div>
            <div class="col-12 p-0">
                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-md-12 col-lg-12 p-lg-3 p-md-3 bg-light-gray mb-5">
                            <p class="font-14 mb-0">PRODUCTS BY </p>
                            <img src="./Electronic Cleaners_files/4325-lps-logo.png" alt="LPS" width="150px">
                        </div>


                        <div class="col col-12 col-lg-12 col-md-12">
                            <div class="row">
                                <div class="col-12 p-0">
                                    <h5 class="Poppins-SemiBold m-0">Electronic Cleaners</h5>
                                    <hr>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/electronic-cleaners/product/cfc-free-electro-contact-cleaner">CFC Free Electro Contact Cleaner</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="LPSCFCCleaners"})">CFC Free Electro Contact Cleaner</a>
                                            </p>

                                            <p class="font-12">
                                                15 OZ,  20 OZ,  1USG,   5 USG,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/electronic-cleaners/product/electro-140-contact-cleaner">Electro 140° Contact Cleaner</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="LPS140Cleaners"})">Electro 140° Contact Cleaner</a>
                                            </p>

                                            <p class="font-12">
                                                16 OZ,  20 OZ,  1USG,   5 USG,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/electronic-cleaners/product/electro-contact-cleaner">Electro Contact Cleaner</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="LPSElectroCleaners"})">Electro Contact Cleaner</a>
                                            </p>

                                            <p class="font-12">
                                                17 OZ,  20 OZ,  1USG,   5 USG,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/electronic-cleaners/product/noflash-electro-contact-cleaner">NoFlash Electro Contact Cleaner</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="LPSNoFlashCleaners"})">NoFlash Electro Contact Cleaner</a>
                                            </p>

                                            <p class="font-12">
                                                18 OZ,  20 OZ,  1USG,   5 USG,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/electronic-cleaners/product/noflash-20-electro-contact-cleaner">NoFlash 2.0 Electro Contact Cleaner</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="LPS2NoFlashCleaners"})">NoFlash 2.0 Electro Contact Cleaner</a>
                                            </p>

                                            <p class="font-12">
                                                19 OZ,  20 OZ,  1USG,   5 USG,
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
