<main role="main" class="mt-3">
    <section>
        <div class="container p-lg-0 p-md-0">
            <div class="row">
                <nav aria-label="breadcrumb" class="w-100">
                    <ol class="breadcrumb bg-white">
                        <li class="breadcrumb-item"><a href="http://aviopro.ideabox.online/">Home</a></li>
                        <li class="breadcrumb-item active">AEROSHELL TURBINE OIL</li>
                    </ol>
                </nav>
            </div>
            <div class="col-12 p-0">
                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-md-12 col-lg-12 p-lg-3 p-md-3 bg-light-gray mb-5">
                            <p class="font-14 mb-0">PRODUCTS BY </p>
                            <img src="~/images/3854-aeroshell-logo.png" alt="Aeroshell" width="150px">
                        </div>


                        <div class="col col-12 col-lg-12 col-md-12">
                            <div class="row">
                                <div class="col-12 p-0">
                                    <h5 class="Poppins-SemiBold m-0">AEROSHELL TURBINE OIL</h5>
                                    <hr>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroTurbineOil3"})">AERO SHELL TURBINE OIL 3</a>
                                            </p>

                                            <p class="font-12">
                                                Pack Size - 1X20L,  Pack Size - 1x55USG,  JSD  - OM-11,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">

                                                <a href="@Url.Action("Index", "Product",new { Param="AeroTurbineOil560"})">AERO SHELL TURBINE OIL 560</a>
                                            </p>

                                            <p class="font-12">
                                                Pack Size - 24x1USQ,  JSD  - OX-27,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-turbine-oil/product/aero-shell-turbine-oil-2eu">AERO SHELL TURBINE OIL 2(EU)</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroTurbineOil2EU"})">AERO SHELL TURBINE OIL 2(EU)</a>
                                            </p>

                                            <p class="font-12">
                                                Pack Size - 1X20L,  JSD  - OM-10 (obsolete),
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-turbine-oil/product/aero-shell-turbine-oil-2">AERO SHELL TURBINE OIL 2</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroTurbineOil2"})">AERO SHELL TURBINE OIL 2</a>
                                            </p>

                                            <p class="font-12">
                                                Pack Size - 1x55USG,  JSD  - OM-10 (obsolete),
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-turbine-oil/product/aero-shell-turbine-oil-308">AERO SHELL TURBINE OIL 308</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroTurbineOil308"})">AERO SHELL TURBINE OIL 308</a>
                                            </p>

                                            <p class="font-12">
                                                Pack Size - 24x1USQ,  JSD  - OX-9,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-turbine-oil/product/aero-shell-turbine-oil-390">AERO SHELL TURBINE OIL 390</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroTurbineOil390"})">AERO SHELL TURBINE OIL 390</a>
                                            </p>

                                            <p class="font-12">
                                                Pack Size - 24x1USQ,  JSD  - OX-7,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-turbine-oil/product/aero-shell-turbine-oil-500">AERO SHELL TURBINE OIL 500</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroTurbineOil500"})">AERO SHELL TURBINE OIL 500</a>
                                            </p>

                                            <p class="font-12">
                                                Pack Size - 1x55USG,  JSD  - OX-27,  Pack Size - 24x1USQ,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-turbine-oil/product/aero-shell-turbine-oil-555">AERO SHELL TURBINE OIL 555</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroTurbineOil555"})">AERO SHELL TURBINE OIL 555</a>
                                            </p>

                                            <p class="font-12">
                                                Pack Size - 1x55USG,  Pack Size - 24x1USQ,  JSD  - OX-26,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-turbine-oil/product/aero-shell-turbine-oil-560">AERO SHELL TURBINE OIL 560</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroTurbineOil560"})">AERO SHELL TURBINE OIL 560</a>
                                            </p>

                                            <p class="font-12">
                                                Pack Size - 1x55USG,  JSD  - OX-27,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-turbine-oil/product/aero-shell-turbine-oil-750">AERO SHELL TURBINE OIL 750</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroTurbineOil750"})">AERO SHELL TURBINE OIL 750</a>
                                            </p>

                                            <p class="font-12">
                                                Pack Size - 24x1USQ,  JSD  - OX-38,
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <p class="font-14 mb-0">
                                                @*<a href="http://aviopro.ideabox.online/category/aeroshell-turbine-oil/product/aero-shell-turbine-oil-ascender">AERO SHELL TURBINE OIL Ascender</a>*@
                                                <a href="@Url.Action("Index", "Product",new { Param="AeroTurbineOilAscender"})">AERO SHELL TURBINE OIL Ascender</a>
                                            </p>

                                            <p class="font-12">
                                                Pack Size - 24x1USQ,
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
