<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avio Pro</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    @Styles.Render("~/content/default.css")
    @Styles.Render("~/content/bootstrap.min.css")
    @Styles.Render("~/content/font-awesome.min.css")
    @Styles.Render("~/content/owl.carousel.css")

</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <div class="hero-anime">
        <div class="navigation-wrap bg-light start-header start-style">
            <div class="container p-0">
                <div class="d-flex justify-content-end">
                    <form id="hdTutoForm" method="POST" action="http://aviopro.ideabox.online/" class="mr-3 mr-md-0">
                        <div class="input-gpfrm input-gpfrm-lg input-group">
                            <input type="text" id="querystr" name="querystr" class="form-control" placeholder="Search">
                            <span class="input-group-addon"><i class="fa fa-search" style="color: rgba(0, 0, 0, 0.29);"></i></span>
                        </div>
                    </form>
                    <ul class="list-gpfrm p-2" id="hdTuto_search" style="display: none;"></ul>
                </div>
            </div>
            <div class="container p-lg-0 p-md-0">
                <div class="row">
                    <div class="col-12">
                        <nav class="navbar navbar-expand-md navbar-light">
                            <a class="navbar-brand" href="http://aviopro.ideabox.online/"><img src="~/images/3385-avio-pro-logo.png" alt="Avio Pro" title="Avio Pro"></a>

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto py-4 py-md-0">
                                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="http://aviopro.ideabox.online/#" role="button" aria-haspopup="true" aria-expanded="true">OUR PRODUCTS</a>

                                        <div class="dropdown-menu">
                                            @*<a class="dropdown-item text-uppercase" href="http://aviopro.ideabox.online/category/coatings">COATINGS</a>
        <a class="dropdown-item text-uppercase" href="http://aviopro.ideabox.online/category/3m-adhesion-promoters--primers">3M Adhesion Promoters &amp; Primers</a>
        <a class="dropdown-item text-uppercase" href="http://aviopro.ideabox.online/category/aeroshell-fluids-an-specialities">AEROSHELL FLUIDS AN SPECIALITIES</a>
        <a class="dropdown-item text-uppercase" href="http://aviopro.ideabox.online/category/lubricants-penetrants">Lubricants/Penetrants</a>
        <a class="dropdown-item text-uppercase" href="http://aviopro.ideabox.online/category/3m-aerospace-tapes--adhesives">3M Aerospace Tapes &amp; Adhesives</a>
        <a class="dropdown-item text-uppercase" href="http://aviopro.ideabox.online/category/corrosion-inhibitors">Corrosion Inhibitors</a>
        <a class="dropdown-item text-uppercase" href="http://aviopro.ideabox.online/category/aero-shell-grease">AERO SHELL GREASE</a>
        <a class="dropdown-item text-uppercase" href="http://aviopro.ideabox.online/category/electronic-cleaners">Electronic Cleaners</a>
        <a class="dropdown-item text-uppercase" href="http://aviopro.ideabox.online/category/aero-shell-piston-engine-oil">AERO SHELL PISTON ENGINE OIL </a>
        <a class="dropdown-item text-uppercase" href="http://aviopro.ideabox.online/category/aeroshell-turbine-oil">AEROSHELL TURBINE OIL</a>*@

                                            <a class="dropdown-item text-uppercase" href="@Url.Action("Index","Category",new {Params="Coatings"})">COATINGS</a>
                                            <a class="dropdown-item text-uppercase" href="@Url.Action("Index","Category",new {Params="promoters"})">3M Adhesion Promoters &amp; Primers</a>
                                            <a class="dropdown-item text-uppercase" href="@Url.Action("Index","Category",new {Params="Fluids"})">AEROSHELL FLUIDS AN SPECIALITIES</a>
                                            <a class="dropdown-item text-uppercase" href="@Url.Action("Index","Category",new {Params="Lubricants"})">Lubricants/Penetrants</a>
                                            <a class="dropdown-item text-uppercase" href="@Url.Action("Index","Category",new {Params="Tapes"})">3M Aerospace Tapes &amp; Adhesives</a>
                                            <a class="dropdown-item text-uppercase" href="@Url.Action("Index","Category",new {Params="Corrosion"})">Corrosion Inhibitors</a>
                                            <a class="dropdown-item text-uppercase" href="@Url.Action("Index","Category",new {Params="GREASE"})">AERO SHELL GREASE</a>
                                            <a class="dropdown-item text-uppercase" href="@Url.Action("Index","Category",new {Params="Cleaners"})">Electronic Cleaners</a>
                                            <a class="dropdown-item text-uppercase" href="@Url.Action("Index","Category",new {Params="PistonOIL"})">AERO SHELL PISTON ENGINE OIL</a>
                                            <a class="dropdown-item text-uppercase" href="@Url.Action("Index","Category",new {Params="TURBINE OIL"})">AEROSHELL TURBINE OIL</a>
                                        </div>
                                    </li>

                                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="http://aviopro.ideabox.online/#" role="button" aria-haspopup="true" aria-expanded="false">BRAND WE OFFER</a>

                                        <div class="dropdown-menu">
                                            <a class="dropdown-item text-uppercase" href="http://aviopro.ideabox.online/brand/3m">3M</a>
                                            <a class="dropdown-item text-uppercase" href="http://aviopro.ideabox.online/brand/lps">LPS</a>
                                            <a class="dropdown-item text-uppercase" href="http://aviopro.ideabox.online/brand/aeroshell">Aeroshell</a>
                                        </div>
                                    </li>
                                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                        <a class="nav-link" href="http://aviopro.ideabox.online/about-us">
                                            ABOUT
                                            US
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </nav>
                    </div>
                </div>
                <div class="header-yellow-bar"></div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <!-- Footer -->
        <footer class="footer bg-black p-3">
            <div class="container">
                <div class="row row-flex p-3 align-items-center">
                    <div class="text-muted col-md-2 text-lg-left text-md-left text-center mb-3 mb-lg-0 mb-md-0">
                        <a href="http://aviopro.ideabox.online/">
                            <img src="~/images/avio-pro-logo-white.png" alt="Avio Pro">
                        </a>
                    </div>
                    <div class="text-muted col-md-10 text-lg-right text-md-right text-center text-white">
                        <a href="http://aviopro.ideabox.online/about-us" class="text-uppercase text-white">
                            About
                            us
                        </a> /
                        <a href="http://aviopro.ideabox.online/contact" class="text-uppercase text-white">
                            contact
                            us
                        </a>
                    </div>
                </div>
                <p class="mb-0 text-white text-center">© 2020 <a href="http://aviopro.ideabox.online/">Avio Pro</a> . Powered By <a href="http://www.ideabox.com.pk/" target="_blank">IdeaBox</a> </p>
            </div>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@

    @Scripts.Render("~/js/jquery-3.1.1.slim.min.js")
    @Scripts.Render("~/js/jquery.js")
    @Scripts.Render("~/js/tether.min.js")
    @Scripts.Render("~/js/bootstrap.js")
    @Scripts.Render("~/js/owl.carousel.js")
    @Scripts.Render("~/js/common.js")

</body>
</html>
